@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:#676f7c;
    font-size: 20px;
}

/*Header and logo*/
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

/*header{
    padding: 0 1rem;
    position: fixed;
    z-index: 70;
    width: 100;
    box-shadow: 0 2px #676f7c;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
header a{
    text-decoration: none;
    color: inherit;
}*/


.logo{
    float: left;
}
/*navigation and links*/
#menu{
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}
/*nav toggle*/

/*#nav-toggle:checked~nav{
    display:block ;
}*/


#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: #432460;
    margin-bottom: 1em;
}

/*nav dropdown toggle*/
/*nav{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px;
    display: none;
    top: 100%;
}

#nav-toggle{
    display: none;
}*/




#menu a{
    text-decoration: none;
    
}
#menu a:hover{
    color: red;
}

.logo ~ #menu a{
    background-color: #432460;
}

/*image*/
#wrapper{
    height: 600px;
    width: 100%;
    overflow: hidden;
    
}


#cover-text, #cover-text h2{
    color: white;
}

#cover-text{
    font-size: 110%;
    font-family: 'Roboto' sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100px;
    height: 200px;
    padding-top: 70px;
    padding-right: 200px;
    bottom: 500px;
    right: 20px;
    position: absolute;
    
}


.navbar{
    padding-left: 100px;
    padding-right: 100px;
}



/*main content*/
/*main{
    flex: 1 0 auto;
    margin-top: 50px;
}*/
.main{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.main a{
    text-decoration: none;
    color: #432460;
    
}

.text-bold{
    font-size: 30px;
    padding-bottom: 80px;
    margin-top: 70px;
}

#goal-post{
    height: 600px;
    width: 100%;
    background: url("../images/soccer-into-goal.jpg") no-repeat center center;
    margin-top: 80px;
}

/*footer styling*/
 footer{
    height: 50px;
    background-color: #434955;
    padding-bottom: 20%;
    text-align: center;
    color: white;
 } 
 #social-media{
    text-align: center;
 }  
 #social-media > li{
    display: inline;
 }
 #social-media i {
    font-size: 90px;
    margin: 1%;
    padding: 5%;
    color: white;
 }

 /*contact us page*/
 .main-head{
    font-size: 60px;
    padding-bottom: 20px;
 }

 #address{
    font-size: 20px;
    padding-left: 50px;
 }

 .headers{
    font-size: 30px;
    padding-left: 50px;
 }

 #contact-page{
    text-align: center;
 }


 #move-down{
    padding-top: 150px;

 }

 #paragraph2{
    padding-top: 40px;
    padding-bottom: 70px;
    padding-right: 400px;
 }

 .phone{
    padding-right: 550px;
    font-size: 30px;
}
#img{
    float: right;
    padding-top: 50px;
    padding-right: 50px;
}

/*about us page*/
 #paragraph1{
    line-height: 2em;
 }

 
.wrap > #image1{
    padding-top: 100px;
}


div.wrap{
    text-align: center;
}
ul.list-items{
    display: inline-block;
    text-align: left;
    line-height: 5em;
}

ul#items{
    padding-bottom: 50px;
}


#title{
    padding-top: 50px;
}

#image2{
    padding-top: 250px;

}

.pics{
    height: 500px;
    width: 500px;
}

#title2{
    padding-top: 50px;
}

 form {
	width: 1000px;
	padding: 20px;
	border-radius: 15px;
	margin: 30px auto;
	background-color: white;
}

 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    
  }
  
  input[type=submit] {
    background-color: #432460;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  button[type=submit]:hover {
    background-color: #45a049;
  }
  /*Media query for tablets and larger devices*/
  @media screen and (max-width: 760px) {
     nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;}

        #goal-post{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 600px;
        }
    }

  
    /*Header*/
   /* nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu{
        display: flex;
    }
    .nav-toggle-label{
        display: none;
    }
    #logo{
        font-size: 200%;
        line-height: 70px;
        margin: 0 0.5rem;
    }
 }*/